body {

    color: #333;
    font-family: 'Lucida Sans Unicode', 'Lucita Grande', sans-serif;
    padding: 10px; /* padding-top, padding-right, padding-bottom, padding-left */
    margin-left: auto;
    margin-right: auto;
    width: 940px;

  
}

img{
    width: inherit;
    height: inherit;
}

.main-sobre p {
     text-align: left;  /* Alinhamento do texto - left, right, justify */
     padding: 0 45px;
     text-indent: 15px;

   /* line-height: 5px; - tamanho da altura de cada linha 
    letter-spacing: 3px; - tamanho do espaço entre cada letra 
    word-spacing: 5px; - tamanho do espaço entre cada palavra 
    text-indent: 30px; - tamanho da margem da primeira lina do texto */
}

.main-sobre h1 {
    background-image: url(sobre-background.jpg);
    padding: 10px;
}

.main-sobre h2 {
    border-bottom: 2px solid #333;
    margin-top: 30px;

}

.main-sobre figure {
    background-color: #f2eded;
    border: 1px solid #ccc;
    text-align: center;
    padding: 15px;
    margin: 30px;
}

.main-sobre figcaption {
    font-style: italic;
    margin-top: 10px;
 }

 #centro-distribuicao {
     margin-left: auto;
     margin-right: auto;
     width: 550px;
 }

 footer {
     
     color: #dcdcdc;
     margin: 30px 0;
     padding: 20px 0;
     background-color: #333;
     clear: both;
}
footer .container{
    position:relative;
}
.social a{
    height:32px;
    width:32px;
    display: block;
    text-indent: -9999px;
}

.social{
    position: absolute;
    top: 12px;
    right: 0;
}

.social a[href*="facebook.com"]{
    background-image: url(facebook.png);
}
  
.social a[href*="twitter.com"]{
    background-image: url(twitter.png);
}   

.social a[href*="instagran.com"]{
    background-image: url(googleplus.png);
} 

.social li{
    float: left;
    margin: 0px 10px;
    
}


 footer img {
     margin-right: 30px;
     vertical-align: middle;
     width: 94px;
     background-color: #333;
     padding-left: 10px;
     
 }

 #familia-pelho {
     float:right;
     margin: 0 0 10px 10px;
 }

 .main-index .sacola {
    background-image: url(sacola.png);
    background-repeat: no-repeat;
    background-position: top right;
    font-size: 14px;
    padding-right: 35px;
    text-align: right;
    width: 140px;
    padding-top: 8px;
    position:absolute;
    top: 0;
    right: 0;
 }

  .menu-opcoes {
     position: absolute;
     bottom: 0;
     right: 0;
 }

  .menu-opcoes ul{
     font-size: 15px;

 }

  .menu-opcoes a {
     color: #036;
 }

  .menu-opcoes ul li {
     display: inline;
     margin-left: 1px;
     border-style: solid;
     margin-bottom: 1px;
     padding: 5px 10px;
     font-weight: bold;
     text-transform: uppercase;
 }
 
 .main-sobre .container {
    margin: 0 auto;
    width: 940px;
}

header {
    position:relative;
    
}

 .busca, 
.menu-departamentos {
    background-color: #dcdcdc;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 10px;
    width: 230px;
    display:block;
    float: left;
    text-decoration: none;
    
}

.busca h2,
.busca form,
.menu-departamentos h2 {
    margin: 10px;

}

.busca input [type="search"] {
    float:left;
    width: 50px;
}

.menu-departamentos {
    margin-top: 10px;
    padding-bottom: 10px;
    clear:left;
}

.menu-departamentos li {
    background-color: white;
    margin-bottom: 1px;
    padding: 5px 10px;
}

.menu-departamentos a{
    color: #333333;
    text-decoration: none;
}

.destaque{
    margin-top: 10px;
}

#botao {
    height:auto;
    width: 10%;
    background-image:url(busca.png);
    text-indent: -999px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #dcdcdc;
    border-style: none;
    
    
}


